{% extends "base.html" %}
{% load static %}
{% block content %}
  <h1 class="text-white text-center">Autocomplete</h1>
  <div class="wrapper">
    <ul id="work_history_tags"></ul>
    <div id="tags_dropdown_wrapper" class="position-relative"></div>
  </div>
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'plugins/tag-it/css/jquery.tagit.css' %}"/>
  <link rel="stylesheet" href="{% static 'work_history/css/home.css' %}"/>
{% endblock %}

{% block scripts %}
  <script src="{% static 'plugins/tag-it/js/tag-it.js' %}"></script>
  <script src="{% static 'work_history/js/home.js' %}"></script>
{% endblock %}