#work_history_tags {
    border: none;
    padding-left: 45px;
    list-style: none;
    margin-bottom: 10px;
    position: relative;
}

#work_history_tags::before {
    font-family: "FontAwesome";
    font-weight: 400;
    content: "\f002";
    position: absolute;
    line-height: 38px;
    color: #3875d7;
    left: 20px;
    top: 0;
}

#work_history_tags input.ui-autocomplete-input {
    width: 100%;
}
#work_history_tags .ui-icon, .ui-widget-content .ui-icon {
    display: none;
}
ul#work_history_tags.tagit li.tagit-choice .tagit-close .text-icon {
    display: inline;
    color: #3875d7;
}
#tags_dropdown_wrapper .tagit-autocomplete {
    left: 0 !important;
    width: 100% !important;
    top: 0 !important;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 20px;
}

.ui-menu-item {
    display: inline-block;
    padding-left: 10px;
}

#work_history_tags .ui-state-default, .ui-widget-content .ui-state-default,
.ui-menu-item > div {
    background-color: #eaeafa;
    border: solid 1px #eaeafa;;
    font-weight: 600;
    color: #3875d7;
    border-radius: 5px;
    overflow: hidden;
}

.ui-menu-item > div.ui-state-active {
    background-color: transparent;
    border: solid 1px #3875d7;
    color: #3875d7;
    font-weight: 600;
    margin: 0 !important;
}

.ui-autocomplete-group.ui-menu-item {
    width: 100%;
    display: block;
    padding-top: 15px;
    padding-bottom: 5px;
    background: transparent;
    color: #aaa;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}